// $body-col: #B0B0B0;

$body-color: #F0F0F0;

$container-col: #fff;

$font-color: #433F3F;

$default-bg: #000;

$button-color: #8359F0;

$link-color: #DFDFDF;

$focus-color: #D6D6D6;

$error-text-color: #ff0000;
$test-color: #a0a0a0;
